@model SalesWebMvc.Models.Department

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Department</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div class="d-flex d-inline-flex justify-content-center align-items-center gap-2">    
    <a asp-action="Index" class="btn btn-primary mt-2 oliva rounded-pill d-flex justify-content-center align-items-center btpadding">                                               
                 <div class="d-flex d-inline-flex align-self-center h-22">
                 <i class="gg-push-chevron-left-o"></i>
                 <p class="ms-2 h6">Back to List</p>
                 </div>
                </a>    
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary mt-2 oliva rounded-pill d-flex justify-content-center align-items-center btpadding">                                               
                 <div class="d-flex d-inline-flex align-self-center h-22 gap-2">
                 <i class="gg-pen mt-2"></i>
                 <p class="ms-2 h6">Edit</p>
                 </div>
                </a>  
         
</div>
