@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, SalesWebMvc

@model SalesWebMvc.Models.Department

@{
    ViewData["Title"] = "Edit";
}
<h1>@ViewData["Title"]</h1>

<h4>Department</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="d-flex d-inline-flex justify-content-center align-items-center gap-2">              
                 
                 <button-a route="/Departments/Index" icon-class="gg-push-chevron-left-o" text="Back to List" class="oliva"></button-a>
                <button-action icon-class="gg-chevron-double-down-o" text="Save" class="oliva"></button-action>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
