@model SalesWebMvc.Models.Department

@{
    ViewData["Title"] = "Edit";
}
<h1>Edit</h1>

<h4>Department</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="d-flex d-inline-flex justify-content-center align-items-center gap-2">                  
                 <button asp-action="Index" class="btn btn-primary mt-2 oliva rounded-pill d-flex justify-content-center align-items-center btpadding">                                               
                 <div class="d-flex d-inline-flex align-self-center h-22">
                 <i class="gg-push-chevron-left-o"></i>
                 <p class="ms-2 h6">Back to List</p>
                 </div>
                </button>    
                <button type="submit" class="btn btn-primary mt-2 oliva rounded-pill d-flex justify-content-center align-items-center btpadding">                                               
                 <div class="d-flex d-inline-flex align-self-center h-22">
                 <i class="gg-chevron-double-down-o"></i>
                 <p class="ms-2 h6">Save</p>
                 </div>
                </button>        
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
